/*clear browser*/
html, body, header, main, footer, div, span, h1, h2, h3, h4, a ,ul, ol, li, img, p, section, article, button, form, input{
	margin: 0;
	padding: 0;
}

html{
	font-size: 62.5%;
	font-family: 'Ubuntu', sans-serif;
	color:#fff;
}



#wrapper{
	width: 126rem;
	height: 100%;
}

.container{
	width: 94rem;
	margin: 0 auto;
	position: relative;
	
	
}

header{
	width: 100%;
	height: 76.5rem;
	background: url('../img/header_background.png') no-repeat;
	background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.6rem;
	font-weight: 400;
    color: #fff;
    text-transform: uppercase;
}

div#top{
	height: 7.6rem;
	padding-top: 5.5rem;
}

header span:first-child{
	float: left;
	opacity: 0.6;
	padding-top: 4.2rem;
}

header span:nth-child(3){	
	float: right;
	opacity: 0.6;
	padding-top: 4.2rem;
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

header h1{
	display: inline-block;
	width: 11.5rem;
	height: 7.6rem;
	margin: 0 29rem;
}

nav ul{
	position: relative;
	top: 54.5rem;
	display: block;
}

nav ul li{
	list-style: none;
	display: inline-block;
	margin-left: 4.8rem;
}


nav ul li:first-child{
	margin-left: -1.6rem;
}

nav ul li:last-child{
	margin-right: -1.6rem;

}

nav ul li a{
	padding: 1.2rem 1.8rem;
	text-decoration: none;
	color: #fff;
	font-size: 1.6rem;
	border: hidden;
	border-radius: 0.5rem;
}
	
nav ul li a:hover{
	background-color: rgba(209,209,209,0.5);
}

/*end of header styling*/
/*main style*/
main{
	height: 365rem;
}

main section:nth-child(even){
	background-color: #EEE;
}

section h3{
	font-size: 4.8rem;
	font-weight: 300;
	color: #000;
	text-transform: uppercase;
}

/*first section*/
#best{
	height: 67.5rem;
}

section#best div.container h3{
	display: inline-block;
	text-transform: uppercase;
	font-weight: 300;
	height: 16.4rem;
	width: 26.2rem;
	position: absolute;
	top: 13.7rem;
	left: 0rem;
	padding: 0;
}

.bold{
	font-weight: 400;
}

.blue{
	color: #00aaef;
}

section#best article{
	color: #000;
	display: inline-block;
	height: 37.5rem;
	width: 55.2rem;
	position: absolute;
	top:13.7rem;
	left:37.5rem;
	font-size: 1.6rem;
}

section#best article h4{
	font-weight: bold;

}

section#best article p{
	font-size: 400;

}

section#best article > p:nth-child(4), p:nth-child(5) {
	font-weight: bold;
}

section#best article ol{
	margin: 4.8rem 0;
}

section#best article ol li{
	font-size: 400;
}

/*second section*/
#gallery{
	height: 126rem;
}

section#gallery div.container div.gallery{
	display: inline-block;
	width: 100%; 
	height: 26.2rem;
	margin-top:3rem;
	margin-bottom: 1.8rem; 
}

section#gallery div.container div.gallery:first-child{
	margin-top:6.5rem;
}

span.gallery_odd{
	font-size: 1.6rem;
	color: #000;
	font-weight: 400;
}

span.gallery_even{
	font-size: 1.6rem;
	color: #00aaef;
	font-weight: 400;
}

div.gallery img:nth-of-type(2){
	padding-left: 1.7rem;
}

section#gallery div.container button{
	display: block;
	width: 18.8rem;
	height: 5.2rem;
	background-color: #00aaef; 
	text-transform: uppercase;
	font-weight: 400;
	color: #fff;
	margin: 4rem auto 11rem;
}



/*third section*/
#consultation{
	height: 58.3rem;
}

section#consultation div.container article{
	display: inline-block;
	width: 46rem;
	height: 24.4rem;
	border: 1px solid black;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

section#consultation div.container div#consult_form{
	display: inline-block;
	width: 38rem;
	height: 24.4rem;
	border: 1px solid black;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

section#consultation div.container div#consult_form form input{
	display: block;
	width: 100%;
	height: 5rem;

}

section#consultation div.container div#consult_form form button{
	display: block;
	width: 100%;
	height: 5rem;
}


/*forth section*/
#testimonials{
	height: 58rem;	
}

section#testimonials div.container img#testimonials{
	display: block;
	width: 88.5rem;
	height: 33.7rem;
	margin: 5rem auto;
}
/*fifth section */
#contact{
	height: 61.5rem;

}
/*headers*/	
h3.section_header{
	font-size: 4.8rem;
	font-weight: 300;
	color: #000;
	text-transform: uppercase;
	text-align: center;
	display: block;
	position: relative;	
	top: -3rem;
	
}

img.header_decoration{
	display: block;
	margin: 0 auto;
	position: relative;
	top: -2.2rem;
	
}

/*footer style*/
footer{
	height: 54rem;
	background: url('../img/footer_background.png') no-repeat;
	background-repeat: no-repeat;
    background-size: cover;
}

footer div.container img{
display: block;
margin-left: auto;
margin-right: auto;
position: relative;
top: 23rem;
}

footer div.container p{
	font-weight: 500;
	text-align: center;
	position: relative;
	top:38rem;
}
/*end of footer