html, body, header, main, footer, div, span, h1, h2, h3, h4, a ,ul, ol, li, img, p, section, article{
	margin: 0;
	padding: 0;
}

html{
	font-size: 62.5%;
	font-family: 'Ubuntu', sans-serif;
	color:#fff;
}



#wrapper{
	width: 126rem;
	height: 100%;
}

.container{
	width: 94rem;
	margin: 0 auto;
	position: relative;
	
}

header{
	width: 100%;
	height: 76.5rem;
	background: url('../img/header_background.png') no-repeat;
	background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.6rem;
	font-weight: 400;
    color: #fff;
    text-transform: uppercase;
}

div#top{
	height: 7.6rem;
	padding-top: 5.5rem;
}

header span:first-child{
	float: left;
	opacity: 0.6;
	padding-top: 4.2rem;
}

header span:nth-child(3){	
	float: right;
	opacity: 0.6;
	padding-top: 4.2rem;
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

header h1{
	display: inline-block;
	width: 11.5rem;
	height: 7.6rem;
	margin: 0 29rem;
}

nav ul{
	position: relative;
	top: 54.5rem;
	display: block;
}

nav ul li{
	list-style: none;
	display: inline-block;
	margin-left: 4.8rem;
}


nav ul li:first-child{
	margin-left: -1.6rem;
}

nav ul li:last-child{
	margin-right: -1.6rem;

}

nav ul li a{
	padding: 1.2rem 1.8rem;
	text-decoration: none;
	color: #fff;
	font-size: 1.6rem;
	border: hidden;
	border-radius: 0.5rem;
}
	
nav ul li a:hover{
	background-color: rgba(209,209,209,0.5);
}

/*end of header styling*/
/*main style*/
main{
	height: 365rem;
}

main section:nth-child(even){
	background-color: #EEE;
}

section h3{
	font-size: 4.8rem;
	font-weight: 300;
	color: #000;
	text-transform: uppercase;
}

/*first section*/
#best{
	height: 67.5rem;
	border: 1px solid black;
}

section#best div.container h3{
	display: inline-block;
	text-transform: uppercase;
	height: 16.4rem;
	width: 26.2rem;
	position: absolute;
	top: 13.7rem;
	left: 0rem;
}

section#best article{
	color: #000;
	display: inline-block;
	height: 37.5rem;
	width: 55.2rem;
	position: absolute;
	top:13.7rem;
	left:37.5rem;	
}

section#best article h4{
	font-weight: 500;

}

section#best article p{
	font-size: 400;
}

section#best article ol li{
	font-size: 400;
}



/*second section*/
#gallery{
	height: 112.6rem;


}

/*third section*/
#consultation{
	height: 58.3rem;
}

/*forth section*/
#testimonials{
	height: 57rem;	
}

/*fifth section */
#contact{
	height: 61.5rem;

}
	
h3.section_header{
	font-size: 4.8rem;
	font-weight: 300;
	color: #000;
	text-transform: uppercase;
	text-align: center;
	margin-top: -3rem;
	padding: 0 33.3%;
	display: inline-block;	
}

img.header_decoration{
	display: block;
	margin: 1.6rem 0;
	padding: 0 33.3%;
	display: inline-block;
}






/*footer style*/
footer{
	height: 54rem;
	background: url('../img/footer_background.png') no-repeat;
	background-repeat: no-repeat;
    background-size: cover;
}

footer div.container img{
display: block;
margin-left: auto;
margin-right: auto;
position: relative;
top: 23rem;
}

footer div.container p{
	font-weight: 500;
	text-align: center;
	position: relative;
	top:38rem;
}
/*end of footer